* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
    font-weight: 500;
}

#root {
    padding: 0;
    margin: 0;
    width: 100%;
}
