* {
  box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

#root {
    padding: 0;
    margin: 0;
    width: 100%;
}

.header {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    box-shadow: 0 2px 8px 0 rgba(2, 29, 61, 0.12);
    background-color: #fff;
    padding: 0 0 0 32px;
    margin-bottom: 30px;
}


.menu-layout {
    display: flex;
}

.menu-layout__content {
    width: 100%;
}


.menu {
    width: 84px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: #2f2f66;
    margin: 0;
    padding: 0;
}

.menu .top {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}

.menu .bottom {
    margin-bottom: 20px;
}

.menu .menu-item {
    width: 48px;
    height:48px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 5px;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.menu-active {
    background-color: #12ffe2;
    border-radius: 30px;
}

.menu-radius {
    background-color: #7071f3;
    border-radius: 30px;
}


.icon-img {
    width: 24px;
    height: 24px;
}


.form-inputs {
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.form-inputs__purple {
    background: linear-gradient(180deg, #5d5db0 0%, #2f2f66 100%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    color: white;
}

.form-inputs__limited {
    max-width: 28rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.form-control label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #c2d6ff;
}

.form-control__light label {
    color: #879abf
}

.form-control__dark label {
    color: #c2d6ff;
}

.form-control__dark input, .form-control__dark select {
    width: 100%;
    padding: 0.75rem 1rem;
    line-height: 1.5;
    background-color: #d1d5db;
    color: #374151;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.form-control__light input, .form-control__light select {
    width: 100%;
    padding: 0.75rem 1rem;
    line-height: 1.5;
    background-color: #ffffff;
    color: #374151;
    border: 1px solid grey;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.button {
    padding: 1rem 2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0.25rem;
    color: #1f2937;
    background-color: #f0b322;
    border: none;
    cursor: pointer;
}


.container {
    margin: 30px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.purple {
    background-color: #7071f3;
    color: white;
}


.panel-table {
    background-color: #e6e8ec;
    padding: 10px;
    border-radius: 10px;
}

.panel-table__headers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 20px
}
.panel-table__headers div {
    flex: 1;
}

.diagnostic-item {
    display: flex;
    background-color: white;
    height: 56px;
    padding: 20px 0 0 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.diagnostic-item div {
    flex: 1;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-active {
    display: block;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 40%;
}

.modal-content__header {
    font-size: 20px;
    font-weight: 500;
}